{% extends 'library/base.html' %}

{% block content %}
<!-- ========================================= MAIN ========================================= -->
<main id="authentication" class="inner-bottom-md">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6">
	<section class="section sign-in inner-right-xs">
	  <h2 class="bordered">Logowanie</h2>
	  <p>Miło nam powitać Cię ponownie</p>

	  <form role="form" class="login-form cf-style-1" method="POST" action="/users/login">
	    <div class="field-row">
	      <label>Email</label>
	      <input type="email" class="le-input" name="username" required>
	    </div><!-- /.field-row -->

	    <div class="field-row">
	      <label>Hasło</label>
	      <input type="password" class="le-input" name="password" required>
	    </div><!-- /.field-row -->

	    <div class="field-row clearfix">

	      <span class="pull-right">
		<a class="content-color bold" href="javascript:void(0);" data-toggle="modal" data-target="#forgottenPassword">Zapomniałeś hasła?</a>
	      </span>
	    </div>
        {% csrf_token %}
	    <div class="buttons-holder">
	      <button type="submit" class="le-button huge">Zaloguj się</button>
	    </div><!-- /.buttons-holder -->
	  </form><!-- /.cf-style-1 -->

	</section><!-- /.sign-in -->
      </div><!-- /.col -->

      <div class="col-md-6">
	<section class="section register inner-left-xs">
	  <h2 class="bordered">Rejestracja</h2>
	  <p>Jesteś tutaj pierwszy raz? Zarejestruj się teraz.</p>

	  <form role="form" class="register-form cf-style-1" method="POST" action="/users/register">

	    <div class="row">

	      <div class="field-row col-md-6">
		<label>Imię</label>
		<input type="text" class="le-input" name="first_name" required>
	      </div><!-- /.field-row -->

	      <div class="field-row col-md-6">
		<label>Nazwisko</label>
		<input type="text" class="le-input" name="last_name" required>
	      </div><!-- /.field-row -->

	    </div>

	    <div class="field-row">
	      <label>Email</label>
	      <input type="email" class="le-input" name="username" required>
	    </div><!-- /.field-row -->

	    <div class="row">

	      <div class="field-row col-md-6">
		<label>Hasło</label>
		<input type="password" class="le-input" name="password" required>
	      </div><!-- /.field-row -->

	      <div class="field-row col-md-6">
		<label>Powtórz hasło</label>
		<input type="password" class="le-input" name="password2" required>
	      </div><!-- /.field-row -->

	    </div>

	    <div class="row">

	      <div class="field-row col-md-9">
		<label>Ulica</label>
		<input type="text" class="le-input" name="street" required>
	      </div><!-- /.field-row -->

	      <div class="field-row col-md-3">
		<label>Nr</label>
		<input type="text" class="le-input" name="number" required>
	      </div><!-- /.field-row -->

	    </div>

	    <div class="row">

	      <div class="field-row col-md-4">
		<label>Kod pocztowy</label>
		<input type="text" class="le-input" name="zip" required>
	      </div><!-- /.field-row -->

	      <div class="field-row col-md-8">
		<label>Miejscowość</label>
		<input type="text" class="le-input" name="city" required>
	      </div><!-- /.field-row -->

	    </div>
          {% csrf_token %}
	    <div class="buttons-holder">
	      <button type="submit" class="le-button huge">Zarejestruj się</button>
	    </div><!-- /.buttons-holder -->
	  </form>

	  <h3 class="semi-bold">Rejestracja w naszym systemie daje Ci wiele możliwości :</h3>

	  <ul class="list-unstyled list-benefits">
	    <li><i class="fa fa-check primary-color"></i> Wiele książek do wypożyczenia w jednym miejscu</li>
	    <li><i class="fa fa-check primary-color"></i> Konkurencyjne ceny za wypożyczenie</li>
	    <li><i class="fa fa-check primary-color"></i> Informacja o aktualnych promocjach i nowościach</li>
	  </ul>

	</section><!-- /.register -->

      </div><!-- /.col -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</main><!-- /.authentication -->
<!-- ========================================= MAIN : END ========================================= -->

    <div class="modal fade" id="forgottenPassword" tabindex="-1" role="dialog" aria-labelledby="forgottenPassword" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form role="form" class="login-form cf-style-1" method="POST" action="/users/remind">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Przypomnij hasło</h4>
                    </div>
                    <div class="modal-body">
                        <div class="field-row">
                            <label>Email</label>
                            <input type="email" class="le-input" name="email" required>
                        </div><!-- /.field-row -->
                        <div class="field-row">
                            <label>Nowe hasło</label>
                            <input type="password" class="le-input" name="password" required>
                        </div><!-- /.field-row -->
                        <div class="field-row">
                            <label>Potwierdź nowe hasło</label>
                            <input type="password" class="le-input" name="password2" required>
                        </div><!-- /.field-row -->
                    </div>
                    <div class="modal-footer">
                        {% csrf_token %}
                        <button type="submit" class="le-button huge">Wyślij</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock content %}
