{% extends 'library/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- ========================================= MAIN ========================================= -->
<main id="contact-us" class="inner-bottom-md">
	<div class="google-map map-holder">
		<div id="map" class="map center"></div>
	</div>

	<div class="container">
		<div class="row">

			<div class="col-md-8">
				<section class="section leave-a-message">
					<h2 class="bordered">Zostaw wiadomość</h2>
					<p>Jeżeli masz jakieś pytanie lub problem, napisz do nas!</p>
					<form id="contact-form" class="contact-form cf-style-1 inner-top-xs" method="POST" action="/contact/sendmail">
						<div class="row field-row">
							<div class="col-xs-12 col-sm-6">
								<label>Twoje imię*</label>
								<input type="text" class="le-input" name="name" required />
							</div>
							<div class="col-xs-12 col-sm-6">
								<label>Adres e-mail*</label>
								<input type="email" class="le-input" name="email" required >
							</div>
						</div><!-- /.field-row -->

						<div class="field-row">
							<label>Temat wiadomości</label>
							<input type="text" class="le-input" name="subject" required />
						</div><!-- /.field-row -->

						<div class="field-row">
							<label>Treść</label>
							<textarea rows="8" class="le-input" name="message" required></textarea>
						</div><!-- /.field-row -->
                        {% csrf_token %}
						<div class="buttons-holder">
							<button type="submit" class="le-button huge">Wyślij wiadomość</button>
						</div><!-- /.buttons-holder -->
					</form><!-- /.contact-form -->
				</section><!-- /.leave-a-message -->
			</div><!-- /.col -->

			<div class="col-md-4">
				<section class="our-store section inner-left-xs">
					<h2 class="bordered">Nasz Adres</h2>
					<address>
						{{ settings.address_name }} <br/>
						{{ settings.address_street }} <br/>
						{{ settings.address_city }}
					</address>
					<h3>Godziny otwarcia</h3>
					<ul class="list-unstyled operation-hours">
                        {% for hour in hours %}
						<li class="clearfix">
							<span class="day">{{ hour.day }}:</span>
							<span class="pull-right hours">{{ hour.open }} - {{ hour.close }}</span>
						</li>
                        {% endfor %}
					</ul>
				</section><!-- /.our-store -->
			</div><!-- /.col -->

		</div><!-- /.row -->
	</div><!-- /.container -->

	{% include 'library/recently.html' %}

</main>
{% endblock content %}
<!-- ========================================= MAIN : END ========================================= -->
<!--============================================================= FOOTER ============================================================= -->
