{% extends 'library/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- ========================================= CONTENT ========================================= -->
<section id="checkout-page">
	<div class="container">
		<div class="col-xs-12 no-margin">

			<form method="POST" action="/orders/finalize">

				<div class="billing-address">

					<h2 class="border h1">Adres klienta</h2>

                    <div class="hideable">

					<div class="row field-row">
						<div class="col-xs-12 col-sm-6">
							<label>Imię*</label>
							<input type="text" class="le-input" name="first_name" required value="{{ user.first_name }}" />
						</div>
						<div class="col-xs-12 col-sm-6">
							<label>Nazwisko*</label>
							<input type="text" class="le-input" name="last_name" required value="{{ user.last_name }}" />
						</div>
					</div><!-- /.field-row -->

					<div class="row field-row">
						<div class="col-xs-12 col-sm-8">
							<label>Ulica*</label>
							<input type="text" class="le-input" name="street" required value="{{ address.street }}" />
						</div>
						<div class="col-xs-12 col-sm-4">
							<label>nr domu/lokalu*</label>
							<input type="text" class="le-input" name="number" required value="{{ address.number }}" />
						</div>
					</div><!-- /.field-row -->

					<div class="row field-row">
						<div class="col-xs-12 col-sm-2">
							<label>Kod pocztowy*</label>
							<input type="text" class="le-input" name="zip" required value="{{ address.zip }}" />
						</div>
                        <div class="col-xs-12 col-sm-4">
							<label>City*</label>
							<input type="text" class="le-input" name="city" required value="{{ address.city }}" />
						</div>
						<div class="col-xs-12 col-sm-3">
							<label>email address*</label>
							<input type="email" class="le-input" name="email" required value="{{ user.email }}" />
						</div>

						<div class="col-xs-12 col-sm-3">
							<label>Numer telefonu*</label>
							<input type="tel" class="le-input" name="phone" required value="" />
						</div>
					</div><!-- /.field-row -->

                    </div>

					<div class="row field-row">
						<div id="create-account" class="col-xs-12">
							<input id="addressSwitcher" class="le-checkbox big" type="checkbox" />
							<a class="simple-link bold" href="#">Edycja adresu</a> - zaznacz jeśli adres wysyłki jest inny niż ustawiony domyślnie
						</div>
					</div><!-- /.field-row -->

				</div><!-- /.billing-address -->

				<section id="your-order">
					<h2 class="border h1">Twoje zamówione książki</h2>
				</section><!-- /#your-order -->

				<div id="total-area" class="row no-margin">
                    <div class="col-xs-12 col-lg-8 no-margin-right">
						<h4 class="border h4">Dane do przelewu</h4>
                        <div id="subtotal-holder">
							<ul class="tabled-data inverse-bold no-border">
								<li>
									<label>Nazwa adresata</label>
									<div class="value">
										<div class="radio-group additional-price">
											<div class="radio-label">{{ settings.address_name }}</div><br>
											<div class="radio-label">{{ settings.address_street }}</div><br>
											<div class="radio-label">{{ settings.address_city }}</div>
										</div>
									</div>
								</li>
								<li>
									<label>Numer rachunku bankowego</label>
									<div class="value">
										<span class="bold">{{ settings.bank_number }}</span>
									</div>
								</li>
                                <li>
									<label>Tytułem</label>
									<div class="value">
										<span class="bold">{{ transfer_title }}</span>
                                        <input type="hidden" name="title" value="{{ transfer_title }}" />
									</div>
								</li>
							</ul><!-- /.tabled-data -->

						</div><!-- /#subtotal-holder -->
					</div><!-- /.col -->

					<div class="col-xs-12 col-lg-4 no-margin-right">
						<div id="subtotal-holder">
							<ul class="tabled-data inverse-bold no-border">
								<li>
									<label>Podsumowanie</label>
									<div class="raw-price value">?</div>
								</li>
								<li>
									<label>Odbiór</label>
									<div class="value">
										<div class="radio-group additional-price">
											<input class="le-radio" data-price="0" type="radio" name="collection" value="library" checked /> <div class="radio-label">osobisty</div><br>
											<input class="le-radio" data-price="10" type="radio" name="collection" value="delivery" />  <div class="radio-label">kurierem<br><span class="bold">10.00 PLN</span></div>
										</div>
									</div>
								</li>
							</ul><!-- /.tabled-data -->

							<ul id="total-field" class="tabled-data inverse-bold ">
								<li>
									<label>Łączna kwota</label>
									<div class="value total-price">?</div>
									<input class="total-price-number" type="hidden" name="summary" value="?" />
								</li>
							</ul><!-- /.tabled-data -->

						</div><!-- /#subtotal-holder -->
					</div><!-- /.col -->
				</div><!-- /#total-area -->
                {% csrf_token %}
				<div class="place-order-button">
					<button type="submit" class="le-button big" onclick="javascript:basket.clear();if(!$('#addressSwitcher').checked)$('#addressSwitcher').trigger('click');">Zamów</button>

				</div><!-- /.place-order-button -->

			</form>

		</div><!-- /.col -->
	</div><!-- /.container -->    
</section><!-- /#checkout-page -->
<!-- ========================================= CONTENT : END ========================================= -->

{% include 'library/recently.html' %}

<script src="{% static 'js/addressSwitcher.js' %}"></script>

{% endblock content %}