{% extends 'library/base.html'  %}
{% load staticfiles %}

{% block content %}
<div id="top-banner-and-menu">
  <div class="container">

      <!-- ================================== TOP NAVIGATION ================================== -->
      <div class="col-xs-12 col-sm-4 col-md-3 sidemenu-holder">
    {% include 'library/categories.html' %}
    </div><!-- /.sidemenu-holder -->
      <!-- ================================== TOP NAVIGATION : END ================================== -->

    <div class="col-xs-12 col-sm-8 col-md-9 homebanner-holder">
      <!-- ========================================== SECTION – HERO ========================================= -->

      <div id="hero">
	<div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">


    {% for slide in slider%}
    <div class="item" style="background-image: url({% static 'images/sliders/slider01.jpg' %});">
	    <div class="container-fluid">
	      <div class="caption vertical-center text-left">
		<div class="big-text fadeInDown-1">
		  {{ slide.description }}<span class="big"><span class="sign">PLN</span>{{ slide.book.price }}</span>
		</div>

		<div class="excerpt fadeInDown-2">
		  {{ slide.book.title }}
		</div>
		<div class="small fadeInDown-2">
		  {{ slide.book.author }}
		</div>
		<div class="button-holder fadeInDown-3">
		  <a href="/books/book/{{ slide.book.id }}" class="big le-button ">Zamów</a>
		</div>
	      </div><!-- /.caption -->
	    </div><!-- /.container-fluid -->
    </div><!-- /.item -->
    {% endfor %}

	</div><!-- /.owl-carousel -->
      </div>

      <!-- ========================================= SECTION – HERO : END ========================================= -->			
    </div><!-- /.homebanner-holder -->

  </div><!-- /.container -->
</div><!-- /#top-banner-and-menu -->
</div>

<div id="products-tab" class="wow fadeInUp">
  <div class="container">
    <div class="tab-holder">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" >
	<li class="active"><a href="#featured" data-toggle="tab">Najlepiej oceniane</a></li>
	<li><a href="#new-arrivals" data-toggle="tab">Nowe pozycje</a></li>
	<li><a href="#top-sales" data-toggle="tab">Najczęściej wypożyczane</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
	<div id="featured" class="tab-pane active">
	  <div class="product-grid-holder">
          {% for toprate in toprates %}
	    <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
	      <div class="product-item">
          {% if toprate.book.sale == 1 %}
		<div class="ribbon red"><span>Taniej</span></div>
          {% endif %}
          {% if toprate.book.newbook == True %}
		<div class="ribbon blue"><span>Nowość!</span></div>
          {% endif %}
          {% if toprate.book.bestseller == True %}
		<div class="ribbon green"><span>bestseller</span></div>
          {% endif %}
		<div class="image">
		  <img src="{% static 'images/products/product-01.jpg' %}" alt="">
		</div>
		<div class="body">
		  <div class="title">
		    <a href="/books/book/{{ toprate.book.id }}">{{ toprate.book.title }}</a>
		  </div>
		  <div class="brand">{{ toprate.book.author }}</div>
		</div>
		<div class="prices">
		  <div class="price-current pull-right">{{ toprate.book.price }} PLN</div>
		</div>
		<div class="hover-area">
		  <div class="add-cart-button">
		    <a class="le-button" href="/books/book/{{ toprate.book.id }}">Zamów</a>
		  </div>
		</div>
	      </div>
	    </div>
        {% endfor %}
	  </div>
	</div>
      <!--New arrivals -->
      <div id="new-arrivals" class="tab-pane">
	  <div class="product-grid-holder">
          {% for newbook in newbooks %}
	    <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
	      <div class="product-item">
          {% if newbook.book.sale == 1 %}
		<div class="ribbon red"><span>Taniej</span></div>
          {% endif %}
          {% if newbook.book.newbook == True %}
		<div class="ribbon blue"><span>Nowość!</span></div>
          {% endif %}
          {% if newbook.book.bestseller == True %}
		<div class="ribbon green"><span>bestseller</span></div>
          {% endif %}
		<div class="image">
		  <img src="{% static 'images/products/product-01.jpg' %}" alt="">
		</div>
		<div class="body">
		  <div class="title">
		    <a href="/books/book/{{ newbook.book.id }}">{{ newbook.book.title }}</a>
		  </div>
		  <div class="brand">{{ newbook.book.author }}</div>
		</div>
		<div class="prices">
		  <div class="price-current pull-right">{{ newbook.book.price }} PLN</div>
		</div>
		<div class="hover-area">
		  <div class="add-cart-button">
		    <a class="le-button" href="/books/book/{{ newbook.book.id }}">Zamów</a>
		  </div>
		</div>
	      </div>
	    </div>
        {% endfor %}
	  </div>
	</div>
      <!--Top sales -->
      <div id="top-sales" class="tab-pane">
	  <div class="product-grid-holder">
          {% for toploan in toploaned %}
	    <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
	      <div class="product-item">
          {% if toploan.book.sale == 1 %}
		<div class="ribbon red"><span>Taniej</span></div>
          {% endif %}
          {% if toploan.book.newbook == True %}
		<div class="ribbon blue"><span>Nowość!</span></div>
          {% endif %}
          {% if toploan.book.bestseller == True %}
		<div class="ribbon green"><span>bestseller</span></div>
          {% endif %}
		<div class="image">
		  <img src="{% static 'images/products/product-01.jpg' %}" alt="">
		</div>
		<div class="body">
		  <div class="title">
		    <a href="/books/book/{{ toploan.book.id }}">{{ toploan.book.title }}</a>
		  </div>
		  <div class="brand">{{ toploan.book.author }}</div>
		</div>
		<div class="prices">
		  <div class="price-current pull-right">{{ toploan.book.price }} PLN</div>
		</div>
		<div class="hover-area">
		  <div class="add-cart-button">
		    <a class="le-button" href="/books/book/{{ toploan.book.id }}">Zamów</a>
		  </div>
		</div>
	      </div>
	    </div>
        {% endfor %}
	  </div>
	</div>
    <!-- End panes -->
      </div>
    </div>
  </div>
</div>

{% include 'library/recently.html' %}

{% endblock content %}
